# Scenario A (Flint Hills)
[Simulation]
log_folder = /Users/rjdp3/Documents/Research/embrs_logs/thesis_eval_logs/a_flint_hills/extreme
t_step_s = 30
cell_size_m = 30
visualize = False
num_runs = 1
# user_path = /Users/rjdp3/Documents/Research/ra-cbba-core/applications/firefighting/fire_coordinator.py
# user_class = FireCoordinator
write_logs = True
model_spotting = True
canopy_species = 5
dbh_cm = 50
spot_ign_prob = 0.05
min_spot_dist_m = 50
spot_delay_s = 1800
seed = 42

[Weather]
input_type = File
file = /Users/rjdp3/Documents/Research/embrs_weather/thesis_forecasts/a_flint_hills_extreme.wxs
mesh_resolution = 250
conditioning_start = 2022-09-01T05:00:00
start_datetime = 2022-10-01T05:00:00
end_datetime = 2022-10-05T04:00:00
# init_mf = 0.06, 0.07, 0.08

[Map]
folder = /Users/rjdp3/Documents/Research/embrs_map/thesis_eval_maps/a_flint_hills