[Simulation]
log_folder = /Users/rjdp3/Documents/Research/embrs_logs
t_step_s = 60
cell_size_m = 20
visualize = False
num_runs = 1
write_logs = True
# duration_s = 14400
# user_path = /Users/rjdp3/Documents/Research/embrs/examples/line_construction_test.py
# user_class = ConstructLine
model_spotting = False
canopy_species = 5
dbh_cm = 50
spot_ign_prob = 0.05
min_spot_dist_m = 50
spot_delay_s = 30

[Weather]
input_type = File
file = /Users/rjdp3/Documents/Research/embrs_weather/dry.json
mesh_resolution = 250
start_datetime = 2025-02-04T06:00:00
end_datetime = 2025-02-04T22:00:00
init_mf = 0.12

[Map]
folder = /Users/rjdp3/Documents/Research/embrs_map/example_for_rogers