[Simulation]
log_folder = /Users/rjdp3/Documents/Research/embrs_logs
t_step_s = 5
cell_size_m = 50
visualize = True
num_runs = 1
write_logs = True
# duration_s = 14400
user_path = /Users/rjdp3/Documents/Research/embrs/examples/prediction_model_test.py
user_class = TestPrediction
model_spotting = False
canopy_species = 5
dbh_cm = 50
spot_ign_prob = 0.05
min_spot_dist_m = 50
spot_delay_s = 30

[Weather]
input_type = File
file = /Users/rjdp3/Documents/Research/embrs_weather/dry.json
mesh_resolution = 250
start_datetime = 2024-06-04T12:00:00
end_datetime = 2024-06-04T16:00:00
init_mf = 0.08

[Map]
folder = /Users/rjdp3/Documents/Research/embrs_map/new_prediction_test