[Simulation]
log_folder = /Users/rjdp3/Documents/Research/embrs_logs
t_step_s = 15
cell_size_m = 30
visualize = True
num_runs = 1
write_logs = False
# user_path = /Users/rjdp3/Documents/Research/ra-cbba-core/applications/backburn/backburn.py
# user_class = Backburn
model_spotting = True
canopy_species = 5
dbh_cm = 50
spot_ign_prob = 0.05
min_spot_dist_m = 50
spot_delay_s = 1800

[Weather]
input_type = OpenMeteo
mesh_resolution = 250
start_datetime = 2025-09-18T09:00:00
end_datetime = 2025-09-24T09:00:00
conditioning_start = 2025-09-16T09:00:00
init_mf = 0.06, 0.07, 0.08

[Map]
folder = /Users/rjdp3/Documents/Research/embrs_map/scenario_2