# Scenario 3: Deschutes National Forest, OR, USA

[Simulation]
log_folder = /Users/rjdp3/Documents/Research/embrs_logs
t_step_s = 15
cell_size_m = 60
visualize = False
num_runs = 1
write_logs = True
user_path = /Users/rjdp3/Documents/Research/ra-cbba-core/applications/backburn/backburn.py
user_class = Backburn
model_spotting = True
canopy_species = 5
dbh_cm = 50
spot_ign_prob = 0.05
min_spot_dist_m = 50
spot_delay_s = 1800

[Weather]
input_type = File
file = /Users/rjdp3/Documents/Research/embrs_weather/scenario_3.wxs
mesh_resolution = 250
start_datetime = 2025-07-15T14:00:00
end_datetime = 2025-07-19T13:00:00
init_mf = 0.06, 0.07, 0.08

[Map]
folder = /Users/rjdp3/Documents/Research/embrs_map/scenario_3