[Simulation]
log_folder = /Users/rjdp3/Documents/Research/embrs_logs
t_step_s = 20
cell_size_m = 40
visualize = True
num_runs = 1
write_logs = True
# duration_s = 14400
# user_path = /Users/rjdp3/Documents/Research/embrs/examples/water_drop_test.py
# user_class = TestWaterRain
model_spotting = True
canopy_species = 5
dbh_cm = 50
spot_ign_prob = 0.05
min_spot_dist_m = 50
spot_delay_s = 30

[Weather]
input_type = File
file = /Users/rjdp3/Documents/Research/embrs_weather/dry.json
mesh_resolution = 250
start_datetime = 2025-02-04T06:00:00
end_datetime = 2025-02-04T14:00:00
init_mf = 0.12

[Map]
folder = /Users/rjdp3/Documents/Research/embrs_map/example_for_rogers